/**************************************************
* JAVIER RODRÍGUEZ SOLER.
* 2016
**************************************************/


@import 'https://fonts.googleapis.com/css?family=Oswald';

/*COMUNES*/
body{
  margin: 0px!important;
	overflow-x: hidden!important;
  font-family: 'Oswald', sans-serif;

    background-color: rgba(0, 0, 0,0.3);
    background-image: url("https://www.transparenttextures.com/patterns/subtle-grey.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.container {
  width: auto;
  right: 0px;
  left: 0px;
  top:0px;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  margin-right: auto;
  margin-left:auto;
  /*margin-left: 15%;*/
  padding: 0px;
  z-index: 1;
  margin-right: auto;
  margin-top: 0px;
  padding-right: 0px !important;
  padding-left: 0px !important;


}

#img{
  width:100%
}

h1{
  margin-top:40%;
  color:white;
}
#countdown{
  color:white;
}

.underline{
    display: inline-block;
    width: 95px;
    height: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color:  white;
}

.bar{
  color:white;
  position:absolute;
  margin-left:60%;
  bottom: 0px!important;
  right:0px;
}

nav{
  background-color:rgba(0,0,0,0.3);
}
.bar a{
  border-left: 1px solid rgba(255,255,255,0.2);
  margin: 5px;
  padding-left:15px;
  text-align: center;
  color: white;
   text-decoration: none;
}
